/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #dddfe1;
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100);
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .racing-bars {
  min-height: 300px;
  width: 100%;
  height: 80vh;
}

summary {
  cursor: pointer;
}

time {
  display: none;
}

@font-face {
  font-family: 'FontAwesomeSolid';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/webfonts/fa-solid-900.ttf')
    format('truetype');
}

a.external::after {
  content: ' \f35d';
  font-family: 'FontAwesomeSolid';
  color: var(--ifm-link-color);
  font-size: small;
}

.custom-labels text.label {
  fill: red !important;
}
