#race {
  background-color: #313639;
}

#race text.title {
  fill: #fafafa;
}

#race text.subTitle {
  fill: #cccccc;
}

#race text.dateCounterText {
  fill: #cccccc;
  opacity: 1;
}

#race text.caption {
  fill: #cccccc;
}

#race .halo {
  fill: #313639;
  stroke: #313639;
  stroke-width: 10;
  stroke-linejoin: round;
  opacity: 1;
}

#race text.legend-text {
  fill: #fafafa;
}

#race text.label {
  fill: #313639;
}

#race text.label.outside-bars {
  fill: #fafafa;
}

#race text.valueLabel {
  fill: #fafafa;
}

#race .tick text {
  fill: #cccccc;
}

#race .tick line {
  shape-rendering: CrispEdges;
  stroke: #dddddd;
}

#race .tick line.origin {
  stroke: #aaaaaa;
}

#race .controls div,
#race .overlay div {
  color: #ffffff;
  background: #777777;
  border: 1px solid black;
  opacity: 0.5;
}

#race .controls div:hover,
#race .overlay div:hover {
  background: #aaaaaa;
  color: black;
}

#race .overlay {
  background-color: black;
  opacity: 0.7;
}

#race .highlight {
  fill: #ff2727 !important;
}

#race .selected {
  fill: #d12020 !important;
  stroke: #777777 !important;
  stroke-width: 1 !important;
}
