.race text {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.race text.title {
  font-size: 24px;
  font-weight: 500;
}
.race text.subTitle {
  font-weight: 500;
  fill: #777777;
}
.race text.caption {
  font-weight: 400;
  font-size: 24px;
  fill: #777777;
}
.race text.label {
  font-weight: 600;
}

.race text.valueLabel {
  font-weight: 300;
}

.race text.dateCounterText {
  font-size: 64px;
  font-weight: 700;
  opacity: 0.25;
}
.race .tick text {
  fill: #777777;
}
.race .xAxis .tick:nth-child(2) text {
  text-anchor: start;
}
.race .tick line {
  shape-rendering: CrispEdges;
  stroke: #dddddd;
}
.race .tick line.origin {
  stroke: #aaaaaa;
}
.race path.domain {
  display: none;
}
.race .controls {
  display: flex;
}
.race .controls div {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  width: 38px;
  height: 38px;
  color: #ffffff;
  background: #777777;
  opacity: 0.5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}
.race .controls div:hover {
  background: #aaaaaa;
  color: black;
}
.race .controls div svg {
  margin: 7px auto;
}
